[Desktop Entry]
Categories=Graphics;
Type=Application
Icon=${PROJECT_ID}
Name=${PROJECT_SLUG}
Name[ca]=${PROJECT_SLUG}
Name[ca@valencia]=${PROJECT_SLUG}
Name[fr]=${PROJECT_SLUG}
Name[it]=${PROJECT_SLUG}
Name[nl]=${PROJECT_SLUG}
Name[sk]=${PROJECT_SLUG}
Name[sl]=${PROJECT_SLUG}
Name[tr]=${PROJECT_SLUG}
Name[uk]=${PROJECT_SLUG}
Name[x-test]=xx${PROJECT_SLUG}xx
Exec=${PROJECT_SLUG}
